@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
  @import url('https://fonts.googleapis.com/css?family=Russo+One');
   @import url('https://fonts.googleapis.com/css?family=Righteous');
    @import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
body{

	margin: 0;
    padding: 0;
}
.containar{
	width: 1600px;
    height: 900px;
    background: seagreen;
    margin: 20px auto;
    overflow: hidden;
}
.menu{
	 width: 1600px;
    height: 50px;
    background: #F00;
       float: left;
       font-family: 'Russo One', sans-serif;
}

.left{
	width: 1100px;
    height: 800px;
    background: green;
    float: left;
}
.right{
	width: 500px;
    height: 800px;
    background: red;
    float: left;
    
}
.futar{
	width: 1600px;
	height: 50px;
	background-color: black;
	float: left;
}
.up{
	width: 500px;
    height: 400px;
    background: #8787da;
    float: left;
}
.downe{
	width: 500px;
    height: 400px;
    background: #ec9667;
    float: left;
}
.lup{
	width: 1100px;
    height: 266.6px;
    background: skyblue;
    float: left;
}
.lmid{
	width: 1100px;
    height: 266.6px;
    background: yellow;
    float: left;
}
.ldowne{
	width: 1100px;
    height: 266.6px;
    background: red;
    float: left;
}
.lupl{
	width: 700px;
    height: 266.6px;
    background:#00c9ff;
    float: left;
}
.lupr{
	width: 400px;
    height: 266.6px;
    background:#3b3737;
    float: left;
    
    overflow: hidden;
}
.lmidl{
	width: 400px;
    height: 266.6px;
    background:#3b3737;
    float: left;
}
.lmidr{
	width: 700px;
    height: 266.6px;
    background:#F9B0BA;
    float: left;
}
.ldl{
width: 366.6px;
    height: 266.6px;
    background:#a049b6;
    float: left;
}
.ldm{
width: 366.6px;
    height: 266.6px;
    background:#670cd7;
    float: left;
}
.ldr{
width: 366.6px;
    height: 266.6px;
    background:#b1ff00;
    float: left;
}
li{
list-style: none;
    float: left;
}
ul{
margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 20px;
        color: white;
    margin right:15px;

}

a:hover{
	background:red;
	color:blue;
}
.tu{

    
    font-family: 'Righteous', cursive;

}
.tm{

    font-family: 'Baloo Chettan', cursive;

}
.td{

    font-family: 'Josefin Slab', serif;

}